*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Sofia", sans-serif;
}

body{background-color: transparent;
    overflow: hidden;
}

a{
    list-style-type: none;
    background-color: transparent;
    cursor: pointer;
}
p{
    background-color: transparent;
    cursor: pointer;
}
i{
    background-color: transparent;
}

li{
    list-style-type: none;
}

img{
    background-color: transparent;
}


nav{
    position: absolute;
    top: 0%;
    background-color: transparent;
         padding-left: 2rem;
         padding-top: 2rem;
    width: 100vw;
    height:5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    

}

nav img{
   width: auto;
   height: 30px;
}

.squidgamelogo{
    width: 130px;
    height: auto;
    margin-top: 1rem;
}

.leftsec{
    background: transparent;
    position:absolute;
    color: white;
    top: 27%;
    width: 25%;
    height: auto;
    left: 4%;
    z-index: 1;
}
.leftsec h1{
    font-weight: 500;
    margin-bottom: 0.7rem;
    margin-left:2.5rem;
    background: #FD4388;
    background: -webkit-linear-gradient(to right, #FD4388 11%, #FFFFFF 70%);
    background: -moz-linear-gradient(to right, #FD4388 11%, #FFFFFF 70%);
    background: linear-gradient(to right, #FD4388 11%, #FFFFFF 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.leftsec div{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.leftsec div img{
    width: 100px;
    height: auto;
}

.middle-sec{
    background: transparent;
    display: inline-grid;
    place-items: center;
position: absolute;
bottom: 0%;
left: 50%;
transform: translate(-55%,1%);
width: 50%;
cursor: pointer;
}

.rightsec{
    background: transparent;
    position:absolute;
    top: 35%;
    width: 20%;
    height: 42%;
    right: 5%;
    z-index: 1;  
    border: 5px solid #FD4388;
    display: inline-grid;
    place-items: center;
 
}

.shapesgame{
margin-top: 5rem;
display: flex; position: absolute;
justify-content: space-around;
align-items: center;
background-color: transparent;
}

.rightsec li{
    margin-top: 4.6rem;
    margin-right: 2.6rem;
    z-index: 1;
    background-color: transparent;
}

footer{
    background: rgba(0, 0, 0, 0);
background: linear-gradient(90deg, rgba(55,14,21,1) 0%, rgba(18,15,14,1) 50%, rgba(46,13,25,1) 100%);
    position: absolute;
   bottom: 0%;
    width: 100vw;
    height:5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    background-color: transparent;

}
 


/* HOVER EFFECT */

/* effect-shine */
  
  .effect1:hover {
    left: 0;
    bottom: 0;
    transform: scaleX(1.2) !important;
    transition: ease-in-out;
  }
/*   
  .effect1:after:hover {
    transform: scaleX(1) !important;
  } */

  .effect-one {
    position: relative;
  }
  .effect-one:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: #229794;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  .effect-one:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  